.MessageList{
    width: 100%;
    height: auto;
    padding: 10px 150px;
    padding-top: 80px;
}

@media screen and (max-width: 480px) {
    .MessageList{
        padding: 10px;
        padding-top: 80px;
    }
}